@page "/expenses"
@using soulFoodReport.Services
@using System.Linq;

@attribute [StreamRendering]
@rendermode InteractiveServer

@inject IExpenseService ExpenseService

<h1>Expenses</h1>

@if (expenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        Date: <input type="text" id="movementDateTime" @bind-value="@now" />
        ExpenseType: 
        <select @bind="@ExpType">
            @foreach (var exp in ExpenseTypes)
            {
                <option value="@exp">@exp</option>
            }
        </select>
        Supplies: 
        <select @bind="@Supplies">
            @foreach (var supp in allSupplies)
            {
                <option value="@supp">@supp</option>
            }
        </select>

        Amount : <input type="text" id="amount" @bind-value="@Amount" /> 
        Description : <input type="text" id="descr" @bind-value="@Description" /> 
        <button onclick="@AddExpense">Add</button>
        
    </div>

    <p> Expenses Filter </p>

    <div>
        <span> From Date: </span> <input type="text" id="fromDate" @bind-value="@fromDate" />
        <span>To Date: </span> <input type="text" id="toDate" @bind-value="@toDate" />
        <button onclick="@ReloadExpenses">Search</button>
    
    </div>
    <p> Total Expenses : @OrderedExpenses.Sum(e => e.Amount)</p>
<Tabs>
<Tab Title="Details" Active="true">
    <Content>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>ExpenseType</th>
                <th>Supplies</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in OrderedExpenses)
            {
                <tr>
                    <td>@expense.Date.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>@expense.Type.ToString()</td>
                    <td>@expense.ExpenseType.ToString()</td>
                    <td>@expense.Supplies</td>
                    <td>@expense.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    </Content>
</Tab>
<Tab Title="Supplies">
    <Content>
    @if (suppliesExpensesSummary!= null) {
        <p> <b>Supplies details (@suppliesExpensesSummary.FromDate - @suppliesExpensesSummary.ToDate)</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Supplies</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in suppliesExpensesSummary.SuppliesData)
                {
                    <tr>
                        <td>@expense.Supplies</td>
                        <td>@expense.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    </Content>
</Tab>
<Tab Title="Types">
    <Content>
    @if (typeExpensesSummary != null) {
        <p> <b>Expense Type details (@typeExpensesSummary.FromDate - @typeExpensesSummary.ToDate)</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in typeExpensesSummary.ExpenseTypeData)
                {
                    <tr>
                        <td>@expense.Type</td>
                        <td>@expense.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    </Content>
</Tab>
<Tab Title="Weeks">
    <Content>
    <p> <b>Weeks details</b></p>
    <table class="table">
        <thead>
            <tr>
                <th>FromDate</th>
                <th>ToDate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in periodExpensesSummaries)
            {
                <tr>
                    <td>@expense.FromDate</td>
                    <td>@expense.ToDate</td>
                    <td>@expense.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    </Content>
</Tab>
</Tabs>
}

@code {
    private IEnumerable<IExpense> expenses = Enumerable.Empty<IExpense>(); 

    private IExpense[] OrderedExpenses => expenses.OrderBy(m => m.Date).ToArray();
    private DateTime now;
    private decimal Amount {get;set;} = 0;
    private string ExpType {get;set;} = ExpenseType.Other.ToString();
    private string Supplies {get;set;} = "";
    private string Description {get;set;} = "";
    private string[] ExpenseTypes = [""];
    private string[] allSupplies = [""];
    private ISuppliesExpensesSummary? suppliesExpensesSummary;
    private ITypeExpensesSummary? typeExpensesSummary;
    private IEnumerable<IPeriodExpensesSummary> periodExpensesSummaries = Enumerable.Empty<IPeriodExpensesSummary>();
    private DateOnly fromDate;
    private DateOnly toDate;

    protected override Task OnInitializedAsync()
    {
        now = DateTime.UtcNow;
        fromDate = new DateOnly(now.Year,now.Month,1);
        toDate = new DateOnly(now.Year,now.Month,DateTime.DaysInMonth(now.Year,now.Month));

        ReloadExpenses();
        ExpenseTypes = Enum.GetNames<ExpenseType>().ToArray();
        allSupplies = SoulFoodReportConfig.Instance.Supplies;
        ExpType = ExpenseTypes[0];
        Supplies = allSupplies[0];
        return Task.CompletedTask;
    }
    protected async Task AddExpense() {
        Console.WriteLine("CreateOpenMovement....");
        await Task.Delay(100);
        var movement = soulFoodReport.Services.Movement.Create(now,Amount,MovementType.Expense,SourceType.Card);
        var expenseType = Enum.Parse<ExpenseType>(ExpType);
        var expense = soulFoodReport.Services.Expense.Create(movement,expenseType,Supplies,Description);
        var expenseStatus = ExpenseService.Add(expense);
        ReloadExpenses();
    }
    private void ReloadExpenses() {
        var startDate = DateOnly.FromDateTime(DateTime.Now);
        expenses = ExpenseService.GetExpenses(fromDate,toDate).ToArray();
        suppliesExpensesSummary = ExpensesSummary.CreateGroupedBySupplies(expenses);
        typeExpensesSummary = ExpensesSummary.CreateGroupedByExpType(expenses);
        periodExpensesSummaries = ExpensesSummary.CreateGroupedByWeeks(expenses);
        now = DateTime.UtcNow;
    }
}